*.beam
*~
out
ebin
.eunit
REG_CXA112470/
REG1_CXC138789/
Makefile
./doc
REG_CNA113206.mk
src/.cmake.state
src/.erlang.crypt
.cmake.state
doc
*.contrib*
SYS1_CXC138540/
SYS2_CXC139636/
SYS_CNA11333.mk
SYS_CXA112238/
